li {
	list-style: none;
	margin-bottom: 1px;
	color: rgb(0, 110, 255);
	background-color: white;
	
}

.uno{
	width: 300px;
	padding: 30px 30px 30px;
	border-radius: 20px;
	margin: 0 auto;
	box-shadow: 3px 3px 5px 1px;
	background-color: rgb(186, 197, 194);
}

.dos {
	width: 300px;
	padding: 30px 30px 30px;
	border-radius: 20px;
	margin: 0 auto;
	box-shadow: 3px 3px 5px 1px;
	background-color: rgb(186, 197, 194);
}

a.enlace-eliminar {
	margin-left: 10px;
	text-decoration: none;
	font-size: 1rem;
}

.tachado {
	text-decoration: line-through;
	color: aqua;

}
